*.class

# Package Files #
*.jar
*.war
*.ear
/presentation/nbproject/private/
/presentation/build/
/presentation/dist/
/timestamp/nbproject/private/
/timestamp/timestamp-war/nbproject/private/
/timestamp/timestamp-ejb/nbproject/private/
/timestampWSDL/nbproject/private/
/timestampWSDL/build/
/timestampWSDL/dist/
/paymate/nbproject/private/
/paymate/dist/
/paymate/build/
/paymateWS/nbproject/private/
/paymateWS/build/
/paymateWS/dist/
/paymateRS/nbproject/private/
/paymateRS/build/
/paymateRS/dist/