body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(31, 166, 122);
    text-decoration: underline;
}

/* Login & Registration Form CSS */
.login-header,
.reg-header {
    margin-top: 170px;
    margin-left: -251px;
    text-align: center;
    color: rgb(31, 166, 122);
}

.reg-header {
    margin-left: -38px;
}

.form {
    background-color: #F5F5F5;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    width: 354px;
}

.login-form {
    height: 170px;
}

.registration-form {
    height: 290px;
}

.input-container {
    margin-bottom: 12px;
}

input,
.calendar input,
.password-field {
    height: 30px;
    border-radius: 6px;
    border: 1px solid rgba(31, 166, 122, 0.7);
    padding-left: 6px;
}

.calendar input,
.password-field {
    height: 23px;
    margin-left: -9px;
    width: 206px;
    box-shadow: none;
    margin-bottom: 24px;
    font-size: 1em;
}

.password-field {
    margin-bottom: 0;
    margin-left: 2px;
}

.reg-currency {
    width: 214px;
    float: right;
}

.labels {
    margin-right: 64px;
    margin-bottom: 12px;
}

.email {
    margin-right: 98px;
}

.reg {
    margin-right: 8px;
}

.mini-reg-form {
    margin-top: -54px;
}

.mini-login-form {
    position: absolute;
    top: 12px;
    left: 18px;
}

.registration-link {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.registration-link a {
    text-decoration: underline;
}

.registered {
    margin-bottom: 50px;
}

.error-message {
   color: #993351;
}

.global-error {
    color: #993351;
    margin-top: 80px;
    margin-left: -44px;
}

.notifications-page .global-error {
    margin-left: 468px;
    margin-top: -42px;
}

.no-notifications {
    top: 134px;
    left: 24px;
    position: absolute;
}

.registration-page .global-error {
    margin-top: 120px;
}

.global-error li {
    list-style: none;
}

.payments-page .error-message {
   margin-left: 6px;
}

.payments-page .global-error {
    margin-top: -12px;
    margin-right: 6px;
    float: right;
}

#javax_faces_developmentstage_messages li {
    color: #993351;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    text-align: right;
    list-style: none;
    padding-right: 24px;
}

.registration-page #javax_faces_developmentstage_messages li {
    margin-top: -48px;
}

.login-page #javax_faces_developmentstage_messages li {
    margin-top: -100px;
}

/* Home CSS */
.header {
    color: rgb(31, 166, 122);
    margin-left: 12px;
    margin-top: 12px;
}

.date {
    color: rgb(31, 166, 122);
    position: absolute;
    left: 730px;
    top: 66px;
}

.logout {
    position: absolute;
    right: 24px;
    top: 12px;
}

.tab {
    border: 1px solid rgba(31, 166, 122, 0.7);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: rgb(31, 166, 122);
    padding: 6px;
    text-decoration: none;
}

.tab:hover {
    text-decoration: none;
}

.notifications-link,
.accounts-link {
    margin-left: 12px;
    margin-right: 1px;
}

.registration-tab {
    margin-left: 1px;
}

.tab:hover {
    background-color: rgb(31, 166, 122);
    color: #FFFFFF;
}

.tab.active {
    background-color: rgb(31, 166, 122);
    color: #FFFFFF;
}

.notifications-table,
.payments-form,
.currency-table {
    border: 1px solid rgba(31, 166, 122, 0.7);
    margin-left: 12px;
    margin-top: 4px;
    margin-right: 1px;
}

.currency-table td,
.currency-table th {
    text-align: center;
    padding: 6px;
}

.notifications-table tr {
    border-bottom: rgb(31, 166, 122) 1px solid;
    height: 36px;
}

.notifications-table td {
    text-align: center;
}

.even-row{
   background-color:#FFFFFF;	
}

.odd-row{
   background-color:rgba(31, 166, 122, 0.1);
}

.balance-container {
    margin-left: 15px; 
    margin-top: 12px; 
    margin-bottom: 18px;
    font-weight: 600;
    color: rgb(31, 166, 122);
}

.balance-title {
    margin-right: 48px;
}

.payments-form .balance-container{
    margin-left: 0; 
    margin-top: 0; 
}

.payments-page .balance-title {
    margin-right: 156px;
}

.exchange {
    color: rgb(31, 166, 122);
    position: absolute;
    top: 66px;
    left: 860px;
    width: 200px;
}

.currency-table {
    position: absolute;
    top: 87px;
    left: 847px;
    width: 15%;
}

th {
    border-right: 1px solid rgba(31, 166, 122, 0.7);
    padding: 3px;
}

.payments-form {
    padding: 12px 0 12px 12px;
    width: 796px;
}

.notifications-table {
    width: 810px;
}

.introduction{
    margin-bottom: 8px;
}

.pay-currency {
    width: 212px;
    margin-left: 18px;
    margin-bottom: 12px;
}

.payments-page .amount-field {
    margin-left: 100px;
}

.payments-page .converted-amount-field {
    margin-left: 100px;
}

.payments-page select {
    margin-left: 115px;
}

.payments-page .recipient-field {
    margin-left: 52px;
}

.payments-page .date-field {
    margin-left: -8px;
}

.payments-page-response .payments-form {
     height: 88px; 
}

/* Button CSS */
.button-container {
    position: absolute;
    left: 538px;
}

.button {
    float: right;
    margin-left: 12px;
    margin-top: 20px;
    text-align: center;
    width: 90px;
    background-color: rgb(31, 166, 122);
    color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(31, 166, 122, 0.25);
    -moz-box-shadow:    2px 2px 2px 0px rgba(31, 166, 122, 0.25);
     box-shadow:        2px 2px 2px 0px rgba(31, 166, 122, 0.25);
    text-align: center;
}

.button.long {
    width: 130px;
}

.button.t-long {
    width: 156px;
    margin: 0;
    float: none;
}

.button.x-long {
    width: 162px;
    float: none;
    position: relative;
    left: 650px;

}

.button.small {
    width: 62px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:        none;
    margin: 0;
    padding-right: 9px;
}

.button.back {
    width: 150px;
    margin-right: 8px;
}

.button.left {
    float: left;
    margin-left: -12px;
}

.button:hover {
    background-color: #FFFFFF;
    color: rgb(31, 166, 122);
    cursor: pointer;
}

.button.accept-button {
    background-color: green;
    border: 1px solid green;   
    margin-right: 3px;
    margin-left: -35px;
}

.button.accept-button:hover {
    background-color: #FFFFFF;
    border: 1px solid green;
    color: green;
}

.button.reject-button {
    background-color: red;
    border: 1px solid red;
    margin-right: 3px;
}

.button.reject-button:hover {
    background-color: #FFFFFF;
    border: 1px solid red;
    color: red;
}

.button.x-long.less-left {
    left: 592px;
    top: 24px;
}

.admin-registration {
    border: 1px solid rgba(31, 166, 122, 0.7);
    width: 762px;
    margin-left: 12px;
    margin-top: 4px;
    padding: 24px;
    height: 210px;
}

.admin-registration-page .global-error {
    margin-top: 76px;
    margin-left: -42px;
}